127.0.0.1 localhost

# Hadoop cluster (only working nodes)
192.168.1.91 team-22-nn
192.168.1.92 team-22-dn-00
192.168.1.93 team-22-dn-01

::1 ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts
